<p class="h5"><%= comment.body %></p>
<p><em>posted by <%= comment.creator.name %> <%= time_ago_in_words(comment.updated_at) %> ago</em></p>
<%= link_to "Edit", edit_ticket_comment_path(@ticket, comment) %>