<table class="span12 container">
    <thead>
      <tr>
        <th class="col-sm-4">Name</th>
        <th class="col-sm-2">Assignee</th>
        <th class="col-sm-2">Status</th>
        <th class="col-sm-2">Tags</th>
        <th class="col-sm-2"></th>
      </tr>
    </thead>
    <% @tickets.each do |ticket| %>
      <%= render 'tickets/ticket', ticket: ticket %>
    <% end %>
  </table>