<%= render 'shared/content_title', title: 'Tickets' %>

<div class="filter">
  Show tickets from filters
</div>

<br>

<% if @tickets.length != 0 %>
  <%= render 'table' %>
<% else %>
  <p>There are no tickets at the moment. Would you like to <%= link_to 'add one?', new_ticket_path %></p>
<% end %>

<br>

<%= link_to "Add a new ticket", new_ticket_path %>